@import "./App.css";
@import "./index.css";
@import "./Dark-Colors.scss";
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700');

//Nav start
.header-nav li a {
    display:block;
    color: $text;
    text-align: center;
}

.logo{
    width: 7%;
    float: left;
    display: block;
    margin-top: -1.7%;
}

.logo_frontpage{
    width: 20%;
    margin-top: -2%;
}

.navbar-brand{
    font-weight: 500;
    height: 70px;
    width: auto;
    float: left;
    color: $text;
}

.header-nav{
    float:right;
}

.nav-item{
    float:left;
}

.logout{
    background: none !important;
    color:$down !important;
    border:none;
    font:inherit;
    cursor:pointer;
    display: inline-block;
}

ul .nav-link{
    color: rgba($color: $text, $alpha: 0.7) !important;
}

ul .active{
    color:  white !important;
}

.nav-link{    
    padding:30px 16px;
    display: block;
    outline: 0;
    text-decoration: none !important;
}
//Nav end

//Table start
.stockTable{
    border-collapse: collapse;
    width: 45%;
    margin:0 auto;
}

table th, table td{
    text-align: left;
    border-bottom: 1px solid $text;
}

.rowNumber{
    text-align: center;
    width: 3%;
}

.companyName{
    width:65%;
}

.symbol{
    text-align: center;
    width:9%;
}

.latestPrice{
    text-align: center;
    width: 7%;
}

.change{
    text-align: center;
    width:5%;
}

.link{
    //doubting that we need this. Someone decide for me and delete this comment
    text-decoration: none; 
    outline: 0;
    color:$text;
    padding: 10px 3px;
    cursor: pointer;
    display: block;
}
//Table end

//General style start
body{
    background-color: $background;
    color: $text;
    text-decoration-style: none;
    font-family: 'Raleway', sans-serif;
}

.header{
    background-color: $foreground;
    height: 80px;
}

.content{
    padding: 20px 20px;
}
ul {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
}

.winner{
    color:$up;
}
.loser{
    color:$down;
}

.form-control{
    height: 30px;
    width: 30%;
    font-size: 16px;
    color:$text;
    background-color: $foreground;
    border: 1px solid rgba($color: $text, $alpha: 0.2);
    margin:5px;
    padding:4px 10px;
    border-radius: 15px;
}

.form-submit{
    background-color: $foreground;
    color: $text;
    border: 1px solid rgba($color: $text, $alpha: 0.4);
    height: 30px;
    outline: 0;
    font-size: 16px;
    margin:5px;

    padding:4px 10px;
    border-radius: 10px;
}

.hoverEffect:hover{
    background: rgba($color: $text, $alpha: 0.1) !important;
}
//General style end

//Details page
.detailsBox, .detailsContent{
    width: 100%;
}

.detailsTableContainer{
    margin:auto;
}

.detailsTable{
    width:250px;
    color:rgba($color: $text, $alpha: 0.6);
    border-radius: 8px;
    display: inline-block;
    padding: 8px 8px;
    background-color: $foreground;
    margin: 5px 5px;
}

.detailsTable td{
    border:none;
    width:100%;

}

.stockInfoNumber{
    text-align: right;
    color:$text;
}

.graphPriceContainer{
    width:100%;
}

.graphPriceInfo{
    margin:0 auto;
    width: 40%;
    color:rgba($color: $text, $alpha: 0.6);
    border-radius: 8px;
    display: inline-block;
    padding: 8px 8px;
    background-color: $foreground;
    margin: 5px 5px;
}

.graph{
    width: 100%;
}

//Details page end